<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hablemos de estrategia y tecnología</h2>
                <hr class="light">
                <p class="text-faded">Implementamos pryectos de ingeniería que te permitan conseguir tus objetivos estratégicos, evaluamos tu situación inicial, te ponemos al día con el estado del arte de las tecnologías, desarrollamos la solució, te acompañamos</p>
                <a href="#" class="btn btn-default btn-xl">¡Conozcámonos!</a>
            </div>
        </div>
    </div>
</section>
